body.all_posts #allposts{
    color:rgb(0, 173, 185);
}

body.all_posts #commentstag{
    color:rgb(0, 173, 185);
}

a:visited{
    color:blue;
} 

a:hover{
    color:rgb(0, 173, 185);
}

.mainHeader{
    display: flex;
    height: 25%;
    width: 100%;
    box-sizing: border-box;
    padding: 2em;
    border-bottom: 1em solid #6f6e6f;
    display: flex;
}
.mainHeaderLeft{
    display: flex;
    height: 100%;
    width: 75%;
}
.profilePicture{
    height: 100%;
    width: 25%;
    background: rgb(138, 136, 136);
}
.profileInformation{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 2em;
    justify-content: end;
    height: 100%;
    width: 60%;
}
.profileInformationItem{
    padding-top: 1em;
}
.mainHeaderRight{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    height: 100%;
    width: 50%;
}

.postContainer{
    position: flex;
    overflow: scroll;
    background-color: white;
    margin-top: -73vh;
    margin-left: auto;
    margin-right: auto;
    align: center;
    width: 80vh;
    height: 73vh;

}

.post{
    margin-left: 5vh;
    margin-right: 5vh;
}


#postTitle{
    min-height: 0;
    margin-top: 1vh;
    border: 1px solid black;
    font-size: 3vh;
}
#postDesc{
    min-height: 0;
    border: 1px solid black;
    height:20vh;
}

#submit-button{
    margin-left: 67.5vh;
}

#deleteBtn{
    margin-left: 67.5vh;    
}

