main{
    min-height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .register-container{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
main .register-container .register-title{
    width: 100%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
main .register-container form{
    width: 100%;
    height: 80%;
}
main .register-container form label, main .register-container form input{
    margin-top: 1em;
    margin-bottom: 1em;
}
main .register-container .registration-link{
    width: 100%;
    height: 10%;
}
#errorMessage{
	color: red;
}